ul {
  list-style: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

.active {
  opacity: 1 !important;
}

.info  {
  border: 2px black dashed;
  padding: 10px;
  width: 400px;
  height: 450px;
}

.scorebox {
  width: 200px;
  height: 250px;
}
.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.simon {
  background: #444;
  position: relative;
  margin: 50px;
  width: 300px;
  height: 295px;
  -webkit-border-radius: 150px 150px 150px 150px;
  border-radius: 150px 150px 150px 150px;
  -moz-box-shadow: 2px 1px 12px #aaa;
  -webkit-box-shadow: 2px 1px 12px #aaa;
  -o-box-shadow: 2px 1px 12px #aaa;
  box-shadow: 2px 1px 12px #aaa;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tile {
  opacity: 0.4;
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -ms-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.tile.lit {
  opacity: 1;
}

.red,
.blue,
.yellow,
.green {
  height: 290px;
  -webkit-border-radius: 150px 150px 150px 150px;
  border-radius: 150px 150px 150px 150px;
  position: absolute;
}


.red {
  background: red;
  clip: rect(0px, 300px, 150px, 150px);
  width: 296px;
}

.blue {
  background: dodgerblue;
  clip: rect(0px, 150px, 150px, 0px);
  width: 300px;
}

.yellow {
  background: yellow;
  clip: rect(150px, 150px, 300px, 0px);
  width: 300px;
}

.green {
  background: LimeGreen;
  clip: rect(150px, 300px, 300px, 150px);
  width: 296px;
}
